
.card{
    /* text-align: center; */
    width: 30vw;
    /* background-color: rgb(255, 255, 230); */
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border-radius: 3px;
    box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.315);
}
hr{
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

h2{
    padding: 1em;
    text-align: center;
}

.addTodo{
    padding: 0.5em;
    margin-top: 1.4em;
    width: 100%;
    height: 2.5em;
    /* text-align: center; */
}
.leftTodos{
    text-align: center  ;
    font-size: 0.9em
}
.clearTodo{
    margin-top: 1.4em;
    border: 2px, solid, black;
    width: 100%;
    height: 2.5em;
    padding: 0px;
    background-color: rgba(255, 0, 0, 0.493);
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.4em;
    transition: all 0.5s;
}
.clearTodo:hover{
    background-color: rgba(255, 0, 0, 0.767);
}

/* Css just for the CheckBox and its Name */
.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 19px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 4px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #74cf67;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #4f9b45;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 1;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
/* CheckBox Css ends */

/* Media Queries */

@media all and (max-width: 1090px) {
    .card{
        width: 60vw;
    }
}

@media all and (max-width: 600px) {
    .card{
        width: 80vw;
    }
}

@media all and (max-width: 300px) {
    .card{
        width: 95vw;
    }
}